<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        
        <!-- Display error message if it exists -->
        {% if error_message %}
        <div class="error-message">
            <p style="color: red; text-align: center;">{{ error_message }}</p>
        </div>
        {% endif %}

        <form action="/login" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <label for="user_type">Account Type:</label><br>
            <div class="user-type">
                <input type="radio" id="seller" name="user_type" value="seller" required>
                <label for="seller">Seller</label>

                <input type="radio" id="agent" name="user_type" value="agent" required>
                <label for="agent">Property Agent</label>
            </div><br><br>

            <button type="submit">Login</button>
        </form>

        <div class="buttons">
            <a href="/create_account" class="btn">Don't have an account? <br> Create one here</a>
        </div>
    </div>
</body>
</html>
