<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Home Property | Home</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-color/default-theme.css') }}"> 

   
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="aa-price-range">  
  <!-- Pre Loader -->
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->

  <!-- Start header section -->
  <header id="aa-header">  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-area">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-left">
                  <div class="aa-telephone-no">
                  SC2006-SCSB-T4
                  </div>
                  <div class="aa-email hidden-xs">
                  </div>
                </div>              
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End header section -->

 <!-- Start menu section -->
<section id="aa-menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">  
    <div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <!-- LOGO -->                                               
        <!-- Text based logo -->
        <!--<a class="navbar-brand aa-logo" href="/"> Home <span>Property</span></a> -->
        <!-- Image based logo -->
        <a class="navbar-brand aa-logo-img" href="/agent_dashboard"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></a> 
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li class="active"><a href="/agent_dashboard">HOME</a></li>
            
            <!--
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/agent_dashboard">PROPERTIES <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/agent_dashboard">PROPERTIES</a></li>
                    <li><a href="/seller_dashboard">PROPERTIES DETAIL</a></li>                                            
                </ul>
            </li>
        -->

            {% if 'username' in session %}
                {% if session['user_type'] == 'seller' %}
                    <!-- Seller-specific menu -->
                    <li><a href="/list-property">List Property</a></li>
                    <li><a href="/view_your_property">Your Property</a></li>
                
                {% elif session['user_type'] == 'agent' %}
                    <!-- Agent-specific menu -->
                    <li><a href="/view_listed_property">View Listed Property</a></li>
                    <li><a href="/view_bidded_property">View Bidded Property</a></li>
                {% endif %}
                
                <li><a href="/logout" class="aa-logout">Logout</a></li>
            {% else %}
                <li><a href="/gallery">GALLERY</a></li>                                         
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('blog_archive') }}">BLOG <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">                
                        <li><a href="/blog-archive">BLOG</a></li>
                        <li><a href="/blog-single">BLOG DETAILS</a></li>                                            
                    </ul>
                </li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/create_account" class="aa-register">Register</a></li>
                <li><a href="/login" class="aa-login">Login</a></li>
            {% endif %}
        </ul>
      </div>
  </nav> 
</section>
<!-- End menu section -->
      
      <!--  <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li class="active"><a href="/">HOME</a></li>
             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="properties.html">PROPERTIES <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="agent_dashboard">PROPERTIES</a></li>
                <li><a href="seller_dashboard">PROPERTIES DETAIL</a></li>                                            
              </ul>
            </li>
            <li><a href="gallery">GALLERY</a></li>                                         
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive">BLOG <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="blog-archive">BLOG</a></li>
                <li><a href="blog-single">BLOG DETAILS</a></li>                                            
              </ul>
            </li>
            <li><a href="contact">CONTACT</a></li>
           <li><a href="404">404 PAGE</a></li>
          </ul>                            
        </div>--><!--/.nav-collapse -->    -->   
      </div>          
    </nav> 
  </section>
  <!-- End menu section -->

  
  <!-- About us -->
  <section id="aa-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-about-us-area">
            <div class="row">
              <div class="col-md-5">
                <div class="aa-about-us-left">
                  <img src="static/img/house1.jpg" alt="image">
                </div>
              </div>
              <div class="col-md-7">
                <div class="aa-about-us-right">
                  <div class="aa-title">
                    <h2>Welcome, Agents</h2>
                    <span></span>
                  </div>
                  <p>
                    At <strong>PropBidder</strong>, we provide real estate agents with a competitive platform to grow their network, win more listings, and close deals faster. Our transparent commission bidding system puts your expertise at the forefront, helping you connect directly with property sellers who are looking for trusted professionals to handle their transactions.
                  </p>                  <ul>
                  <li>Browse and bid on available property listings based on your preferred location and niche.</li>
                  <li>Offer competitive commission rates to attract property owners.</li>
                  <li>Gain credibility through successful bids and performance history.</li>
                  <li>Manage all your bids and client interactions from your personalized agent dashboard.</li>
                  <li>Build long-term client relationships through trust and transparency.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / About us -->

  <section id="aa-latest-property">
    <div class="container">
      <div class="aa-latest-property-area">
        <div class="aa-title">
          <h2>Latest Properties</h2>
          <span></span>
          <p style="color: black;">Explore recently listed and sold properties.</p>
        </div>
  
        <div class="aa-latest-properties-content">
          <div class="row">
  
            <!-- Unsold Properties -->
            {% for listing in unsold_listings %}
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="#" class="aa-properties-item-img">
                  <img src="static/img/house1.jpg" alt="img">
                </a>
                <div class="aa-tag for-sale">For Sale</div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-about">
                    <h3>
                      <a href="#">
                        {% if listing['flat_type'] in ['4 ROOM', '5 ROOM', 'MULTI-GENERATION', '3 ROOM', '2 ROOM', '1 ROOM'] %}
                          {{ listing['flat_type'] }} Flat in {{ listing['town'] }}
                        {% elif listing['flat_type'] == 'EXECUTIVE' %}
                            EXECUTIVE Apartment in {{ listing['town'] }}
                        {% else %}
                          {{ listing['flat_type'] }} in {{ listing['town'] }}
                        {% endif %}
                      </a>
                    </h3>
                    <p>{{ listing['street_name'] }}</p>
                    <p>{{ listing['floor_area'] }} SQ FT</p>
                    <p><strong>Sold by:</strong> {{ listing['seller_username'] or "N/A" }}</p>
                    <p><strong>To agent:</strong> {{ listing['agent_username'] or "N/A" }}</p>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">${{ "{:,.1f}".format(listing['listing_price']) }}</span>
                  </div>
                </div>
              </article>
            </div>
            {% endfor %}
  
            <!-- Sold Properties -->
            {% for listing in sold_listings %}
            <div class="col-md-4">
              <article class="aa-properties-item">
                <a href="#" class="aa-properties-item-img">
                  <img src="static/img/house3.jpg" alt="img">
                </a>
                <div class="aa-tag sold-out">Sold Out</div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-about">
                    <h3>
                      <a href="#">
                        {% if listing['flat_type'] in ['4 ROOM', '5 ROOM', 'MULTI-GENERATION', '3 ROOM', '2 ROOM', '1 ROOM'] %}
                          {{ listing['flat_type'] }} Flat in {{ listing['town'] }}
                        {% elif listing['flat_type'] == 'EXECUTIVE' %}
                            EXECUTIVE Apartment in {{ listing['town'] }}
                        {% else %}
                          {{ listing['flat_type'] }} in {{ listing['town'] }}
                        {% endif %}
                      </a>
                    </h3>
                    <p>{{ listing['street_name'] }}</p>
                    <p>{{ listing['floor_area'] }} SQ FT</p>
                    <p><strong>Sold by:</strong> {{ listing['seller_username'] or "N/A" }}</p>
                    <p><strong>To agent:</strong> {{ listing['agent_username'] or "N/A" }}</p>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">${{ "{:,.1f}".format(listing['listing_price']) }}</span>
                  </div>  
                </div>
              </article>
            </div>
            {% endfor %}
  
          </div>
        </div>
      </div>
    </div>
  </section>
  
   <!-- Service section -->
   <section id="aa-service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-service-area">
            <div class="aa-title">
              <h2>Agent Service</h2>
              <span></span>
              <p>As an agent on PropBidder, you get the tools and exposure to grow your client base, win listings, and stay competitive in a fast-paced market.</p>
            </div>
            <!-- service content -->
            <div class="aa-service-content">
              <div class="row">
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-home"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Bid on Listings</a></h4>
                      <p>Submit competitive commission bids on live property listings and win clients directly from sellers.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Boost Your Visibility</a></h4>
                      <p>Appear in seller dashboards and let your portfolio and bids speak for your professionalism and pricing.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-crosshairs"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Track Performance</a></h4>
                      <p>Monitor the status of your bids, analyze your win rates, and optimize your approach for better conversions.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-bar-chart-o"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="#">Close More Deals</a></h4>
                      <p>Secure more listings by demonstrating value and building trust through our transparent bidding ecosystem.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Service section -->

  <!-- Promo Banner Section -->
  <section id="aa-promo-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-promo-banner-area">
            <h3>Grow Your Client with Every Bid</h3>
            <p>Stand out from the crowd by offering competitive rates and securing listings from motivated sellers on PropBidder. It’s fast, fair, and built for agents who want more.</p>
            <a href="/view_listed_property" class="aa-view-btn">Start Bidding</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Promo Banner Section -->

  

  <!-- Footer -->
  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>Designed by <a rel="nofollow" href="http://www.markups.io/">MarkUps.io</a></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="#">Home</a>
                <a href="#">Support</a>
                <a href="#">License</a>
                <a href="#">FAQ</a>
                <a href="#">Privacy & Term</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- / Footer -->
 
  
  
  <!-- jQuery library -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/slick.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nouislider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.mixitup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>