<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Home Property | Properties</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme-color/default-theme.css') }}"> 
   
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  

  </head>
  <body class="aa-price-range">   
  <!-- Pre Loader -->
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->


  <!-- Start header section -->
  <header id="aa-header">  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-area">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-left">
                  <div class="aa-telephone-no">
                    <span class="fa fa-phone"></span>
                    1-900-523-3564
                  </div>
                  <div class="aa-email hidden-xs">
                    <span class="fa fa-envelope-o"></span> info@markups.com
                  </div>
                </div>              
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                  {% if 'username' in session %}
                    <!-- Show logout button when user is logged in -->
                    <a href="{{ url_for('logout') }}" class="aa-logout">Logout</a>
                  {% else %}
                    <!-- Show login and register when user is NOT logged in -->
                    <a href="{{ url_for('create_account') }}" class="aa-register">Register</a>
                    <a href="{{ url_for('login') }}" class="aa-login">Login</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End header section -->
<!-- Start menu section -->
<section id="aa-menu-area">
  <nav class="navbar navbar-default main-navbar" role="navigation">  
    <div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <!-- LOGO -->                                               
        <!-- Text based logo -->
        <a class="navbar-brand aa-logo" href="/"> Home <span>Property</span></a>
        <!-- Image based logo -->
        <a class="navbar-brand aa-logo-img" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></a> 
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li class="active"><a href="/">HOME</a></li>
            
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="/agent_dashboard">PROPERTIES <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/agent_dashboard">PROPERTIES</a></li>
                    <li><a href="/seller_dashboard">PROPERTIES DETAIL</a></li>                                            
                </ul>
            </li>

            {% if 'username' in session %}
                {% if session['user_type'] == 'seller' %}
                    <!-- Seller-specific menu -->
                    <li><a href="/list-property">List Property</a></li>
                    <li><a href="/view_your_property">Your Property</a></li>
                
                {% elif session['user_type'] == 'agent' %}
                    <!-- Agent-specific menu -->
                    <li><a href="/view_listed_property">View Listed Property</a></li>
                    <li><a href="/view_bidded_property">View Bidded Property</a></li>
                {% endif %}
                
                <li><a href="/logout" class="aa-logout">Logout</a></li>
            {% else %}
                <li><a href="/gallery">GALLERY</a></li>                                         
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('blog_archive') }}">BLOG <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">                
                        <li><a href="/blog-archive">BLOG</a></li>
                        <li><a href="/blog-single">BLOG DETAILS</a></li>                                            
                    </ul>
                </li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/create_account" class="aa-register">Register</a></li>
                <li><a href="/login" class="aa-login">Login</a></li>
            {% endif %}
        </ul>
      </div>
  </nav> 
</section>
<!-- End menu section -->

  <!-- Start Proerty header  -->

  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Your Properties</h2>
            <ol class="breadcrumb">
            <li><a href="#">HOME</a></li>            
            <li class="active">PROPERTIES</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-properties-content">
            <!-- Start properties content body -->
            <div class="aa-properties-content-body">
              <ul class="aa-properties-nav">
                {% if properties %}
                    {% for property in properties %}
                        <li>
                            <article class="aa-properties-item">
                                <a class="aa-properties-item-img" href="#">
                                    <img alt="img" src="{{ url_for('static', filename='img/item/6.jpg') }}">
                                </a>
                                <div class="aa-properties-item-content">
                                    <div class="aa-properties-info">
                                        <span>{{ property['flat_type'] }}</span>
                                        <span>{{ property['town'] }}</span>
                                        <span>{{ property['floor_area'] }} SQ FT</span>
                                        <span>{{ property['years_remaining'] }} years remaining</span>
                                    </div>
                                    <div class="aa-properties-about">
                                        <h3><a href="#">Flat in {{ property['street_name'] }}</a></h3>
                                        <p>This part should be trying to fetch data from the database, but not sure what to put here yet, might just change the UI for this part to make it cleaner, unless we want to include a part where seller input flat description</p>
                                    </div>
                                    <div class="aa-properties-detial">
                                        <span class="aa-price">
                                            ${{ property['listing_price'] }}
                                        </span>
                                        <a class="aa-secondary-btn" href="#" onclick="loadPropertyDetails({{ property['id'] }})">More Details</a>
                                    </div>
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                {% else %}
                    <p style="color: black;"; class="text-center text-muted">No properties listed yet. Start listing your properties!</p>
                {% endif %}
            </ul>            
            </div>
            <!-- Start properties content bottom -->
            <div class="aa-properties-content-bottom">
              <nav>
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li class="active"><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Properties  --> 

  <!-- Footer -->
  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>Designed by <a rel="nofollow" href="http://www.markups.io/">MarkUps.io</a></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="#">Home</a>
                <a href="#">Support</a>
                <a href="#">License</a>
                <a href="#">FAQ</a>
                <a href="#">Privacy & Term</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <!-- Modal -->
<div class="modal fade" id="propertyModal" tabindex="-1" role="dialog" aria-labelledby="propertyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="color: black;">
      <div class="modal-header">
        <h5 class="modal-title" id="propertyModalLabel">Property Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div id="property-details">
          <p><strong>Flat Type:</strong> <span id="modal-flat-type"></span></p>
          <p><strong>Town:</strong> <span id="modal-town"></span></p>
          <p><strong>Street Name:</strong> <span id="modal-street-name"></span></p>
          <p><strong>Floor Area:</strong> <span id="modal-floor-area"></span> SQ FT</p>
          <p><strong>Min Bid Interval:</strong> <span id="modal-min-bid-interval">%</span></p>
          <p><strong>Years Remaining:</strong> <span id="modal-years-remaining"></span></p>
          <p><strong>Listing Price:</strong> $<span id="modal-listing-price"></span></p>
        </div>
        
        <hr>
        <h5>Current Bidders</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Bidder</th>
              <th>Bid Amount</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody id="bidder-list">
            <!-- Bidder info will be dynamically added here -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




  <!-- jQuery library -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/slick.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nouislider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.mixitup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  </body>
</html>